streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-chroma
langchain_classic.chains
langchain_classic.chains.combine_documents
langchain-text-splitters
pypdf
protobuf<5.0.0
pysqlite3-binary
